.homeContainer {
    background-color: #ffffff;
}

.banner {
    position: relative;
    width: 90%;
    height: 111px;
    overflow: hidden;
    background: center center no-repeat;
    background-size: cover;
    border-radius: 10px;
    margin-top: -0.1rem;
    margin-bottom: 20px;
    margin-left: 5%;
}

.banner img {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(60%);
}

.banner h1 {
    position: absolute;
    font-size: 24px;
    line-height: 24px;
    margin-top: 2rem;
    margin-left: 1rem;
    color: #ffffff;
    font-weight: lighter;
}

.thumb {
    padding-left: 5%;
    padding-right: 5%;
}

@media only screen and (min-width: 600px) {
    body {
      background-color: white;
    }
  }