.gallery {
    background-color: #ffffff;
}

.banner {
    position: relative;
    width: 90%;
    height: 7rem;
    overflow: hidden;
    background: center center no-repeat;
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 1.3rem;
    margin-left: 5%;
}

.banner img {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(60%);
}

.banner h1 {
    position: absolute;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 1.1px;
    margin-top: 2rem;
    margin-left: 1rem;
    color: #ffffff;
}

.thumb {
    padding-left: 5%;
    padding-right: 5%;
}
