body {
    margin: 0;
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
