.footer {
    bottom: 0;
    width: 100%;
    background: #000;
    height: 209px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
  margin-bottom: 1.6rem;
}

.logo img {
    margin-left: 0.1rem;
    margin-right: 0.2rem;
}

.house {
    margin-bottom: -0.2rem;
}

.footer span {
    color: #fff;
    font-size: 12px;
}
