.banner {
    position: relative;
    width: 90%;
    height: 7.8rem;
    overflow: hidden;
    background: center center no-repeat;
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 1.4rem;
    margin-left: 5%;
}

.banner img {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(60%);
}

.banner h1 {
    position: absolute;
    margin-top: 2rem;
    margin-left: 1rem;
    font-weight: lighter;
    color: #ffffff;
}
