.loaderWrapper {
    display: flex;
    justify-content: center;
}

.loader {
    padding: 10px;
    border: 6px solid #5843e4;
    border-bottom-color: transparent;
    border-radius: 22px;
    animation: rotate 1s infinite linear;
    height: 0;
    width: 0;
}

.loadgingContainer {
    width: 90%;
    height: 100%;
    margin: 1% 5%;
}

.title {
    color: #ff6060;
    font-size: 18px;
    margin-top: -12px;
}

.location {
    color: #ff6060;
    font-size: 14px;
    margin-top: -2px;
}

.lodgingTags {
    display: flex;
    flex-wrap: wrap;
    margin-top: -10px;
}

.ratingAndHost {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -10px;
}
